# 1번

In [ ]:
items = [11, 29, 22, 36, 40, 25, 14, 7, 16]

### 1.1

In [ ]:
items[1]

In [ ]:
items[6:]

In [ ]:
items[3:7]

In [ ]:
items[:]

In [ ]:
list(reversed(items))[:5]

# 2

### 2.1

In [10]:
def  fibonacci1(n, first=0, second=1) :
    if n  == 1:
        return first
    elif n == 2:
        second
        return second
    
    for i in range(n-2) :
        first, second = second, first+second
        
    return second

### 2.2 수정 완료

In [11]:
N = int(input())

# if N > 100 :
#     return 100
# else :
#     fibonacci(0, 1, N)

fibonacci1(100 if N > 100 else N, 0, 1) # 수정 완료

10

34

### 2.3

In [12]:
topping = ['1', '2', '3']

def make_pizza(topping) :
    '''
    make pizza
    '''
    for i in range(len(topping)) :
        print(topping[i])
    return len(topping)

make_pizza(topping)

1
2
3

3

# 3

In [16]:
list1 = [1, 3, 5, 2]
list2 =[100, 23, 2,1]

def get_larger_list(list1, list2) :
    new_list = []
    
    for i in range(len(list1)) :
        if list1[i] > list2[i] :
            new_list.append(list1[i])
        else :
            new_list.append(list2[i])
    return new_list
            
get_larger_list(list1, list2)

[100, 23, 5, 2]

# 4

In [17]:
age = int(input(("Enter age : ")))
income = int(input("Enter income : "))

if age >= 70 :
    if income < 15000 :
        print('Eligible for benefits')
    elif income >= 15000 and income < 20000 :
        print('Not eligible for benefits')
    elif income >= 20000 :
        print('Eligible for reduced benefits')
else :
    if income < 20000 :
        print('Eligible for reduced benefits')
    else :
        print('Not eligible for benefits')

Enter age : 25
Enter income : 30000
Not eligible for benefits

# 5

In [91]:
def my_all(iterable_value) :
    for element in iterable_value :
        if not element :
            return False
    return True

# 6

In [21]:
input_string = input()

def get_unique_char(input_string) :
    char_list = list(set(input_string))
    
    print(len(char_list))

get_unique_char(input_string)

hihi
2

# 7

### 7.1 수정 완료

In [14]:
a={ 'x' : 1, 'y' : 2, 'z' : 3 } 
a.keys()
a.values()
a.items() # 추가했습니다

dict_items([('x', 1), ('y', 2), ('z', 3)])

### 7.2

In [30]:
new_tuple = tuple(list(range(100, 0, -1)))

### 7.3 수정완료

In [13]:
a = float('inf')
if a == a+1 :
    print('true!')

true!

# 8

In [35]:
#8.1
a = 14 + 1j

In [37]:
#8.2
b = 341

In [38]:
#8.3
c = 100000000

In [39]:
#8.4

In [41]:
#8.5
a = 1
b = 2
c = 6
if a < b and c > 5 :
    print("hello")

hello

In [52]:
#8.6
x = 21

if not (x >= 10 and x < 20) :
    print('yes')

yes

In [53]:
#8.7
False

print(7>1 and "t" in "it" and 4>2+2 and 7>3/0)

False

In [54]:
#8.8
'm'

("mobility"+"patterns")[0]

'm'

In [65]:
#8.9
# [] == True # False
# None == True # False
# 9 == True # False
#'sun' == True # False

False

False