# 1 Page

In [ ]:
print(1+2+3+4+5)

In [ ]:
#print(100)

In [ ]:
print(1/2 + 1/2)

In [ ]:
print(1//2 + 1//2)

In [ ]:
#8
# dozen.length
dozen = [1, 2, 3]
len(dozen)

In [ ]:
#9
print(int(180/7))

In [ ]:
#10
print("I love Python!")

In [ ]:
#11
# this is my first program

# 2 Page

In [ ]:
#3
a = 10
b = 15
a = a*a + b
print(a)

In [ ]:
#4
a = 10
b = 15
a *= a+b
print(a)

In [ ]:
#5
a = 10
b = float(a)
print(b)

In [ ]:
#6
a = "10"
b = int(a)
print(b)

In [ ]:
#7
a = "Welcom"
b = "Home"
print(a, b)

In [ ]:
#8
a = "Welcom"
b = "Home"
print(a+b)

In [ ]:
#9
a = "10"
b = "15"
c = a+b
d = int(c)
print(d)

In [ ]:
name = input()
characteristic = input()

print("Sir", name, "the", characteristic)

In [ ]:
a = 1
b = 2
c = 2
d = "One"
e = "Two"
f = "Three" 
g = "one"

In [ ]:
a > b

In [ ]:
a == b

In [ ]:
a != b

In [ ]:
b == c

In [ ]:
d < e

In [ ]:
e < f

In [ ]:
d < g

In [ ]:
g < e

In [ ]:
not (a == b)

In [ ]:
b < c or b > c

In [ ]:
(a+1) == b and not b < c

In [ ]:
((a <= b) and (b <= c)) or ((a >= b) and (b >= c))

In [ ]:
total_cost = 100.00 
days = 3
cost_per_day = total_cost / days
if cost_per_day > 40:
    print("Too expensive")
elif cost_per_day > 30:
    print("Reasonable cost")
elif cost_per_day > 20:
    print("Excellent cost")
else:
    print("Incredible bargain")

In [ ]:
#14
age = 67 
income = 10000
if (age > 70):
    if (income < 15000):
        print("Eligible for benefits")
    else:
        if (income < 20000):
             print("Eligible for reduced benefits")
        else:
             print("Not eligible for benefits")
else:
    if (income < 20000):
        print("Eligible for reduced benefits")
    else:
        print("Not eligible for benefits")

## 답 궁금!

In [ ]:
#15
age = 67 
income = 10000
if (age > 70):
    if (income < 15000):
        print("Eligible for benefits")
    elif (income < 20000):
        print("Eligible for reduced benefits")
    else:
        print("Not eligible for benefits")
else:
    if (income < 20000):
        print("Eligible for reduced benefits")
    else:
        print("Not eligible for benefits")

In [ ]:
#17
year = int(input())

if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print("Leap year")
            return
        print("Not a leap year")
        return
    print("Not a leap year")
    return
print("Not a leap year")

In [ ]:
year = int(input())

if year % 4 == 0:
    if year % 400 == 0:
        print("Leap year")
    elif year % 100 == 0:
        print("Not a leap year")
    else :
        print("Leap year")
else :
    print("Not a leap year")

# 반복문

In [ ]:
i = 10
while i > 1:
    print(i)
    i /= 2

In [ ]:
i = 0
value = 0
while value < 20:
    value += i
    i += 1
    print(value)

In [ ]:
for i in range(1, 10, 3):
    print(i)

In [ ]:
#6
for i in range(1, 10, -3): # 실행 안됨
    print(i)

In [ ]:
for i in range(10, 1, -3):
    print(i)

In [3]:
#8-1
num = int(input())

for i in range(1, num+1):
    print(i)

10
1
2
3
4
5
6
7
8
9
10

In [2]:
#8-2
num = int(input())
i = 1
while i <= num:
    print(i)
    i += 1

10
1
2
3
4
5
6
7
8
9
10

In [4]:
#9
i = 2
for j in range(i, 7, 3):
    print(j)

2
5

In [7]:
random_num = 7

while i != random_num :
    i = int(input())

# List

In [8]:
mylist = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [9]:
print(mylist[2:5])

[6, 8, 10]

In [10]:
print(mylist[:3])

[2, 4, 6]

In [11]:
print(mylist[8:])

[18, 20]

In [13]:
print(mylist[:])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [15]:
print(mylist[-1])

20

In [16]:
print(mylist[-3:])

[16, 18, 20]

In [17]:
print(mylist)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [18]:
mylist = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
mylist[3] = 100
print (mylist)

[2, 4, 6, 100, 10, 12, 14, 16, 18, 20]

In [19]:
mylist = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
for i in mylist:
    i = 0
print(mylist)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [20]:
mylist = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
mylist.append(100)
print(mylist)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 100]

### 오호

In [22]:
#13
mylist = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
mylist[1:5] = []
print(mylist)

[2, 12, 14, 16, 18, 20]

In [24]:
mylist = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
mylist[2:8] = [100, 200]
print(mylist)

[2, 4, 100, 200, 18, 20]

In [25]:
#15
mylist = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
mylist[2:2] = [100]
print(mylist)

[2, 4, 100, 6, 8, 10, 12, 14, 16, 18, 20]

In [30]:
#16
ages = [10, 21, 32, 18, 17, 9, 34, 55]
minor_ages = []

for age in ages:
    if age < 18 :
        minor_ages.append(age)
        
minor_ages

[10, 17, 9]

In [29]:
names = ['손낙원', '이찬주', '이병주']
ages = [26, 25, 31]

new_list = [names, ages]
print(new_list)

[['손낙원', '이찬주', '이병주'], [26, 25, 31]]

# 함수

In [35]:
def something1(a, b) :
    for i in range(a) :
        print(b, end=' ')
something1(5, 'X')

X X X X X

In [36]:
def something2(a, b): 
    for i in range(a):
        b = b*b
    return b
print(something2(3,2))

256