#### binding == assignment(다른 언어에서)

In [6]:
a = 3 # 할당, 이름 붙임
id(a) # 유일한 값

4393809312

In [5]:
type(a)

int

In [7]:
id(a+3)

4393809408

## 문자열의 종류 : Str(아스키코드), Byte(유티코드), ByteArray

In [10]:
a = ' ' # 문자열 할당
type(a)

str

#### 문자열 : 문자의 모음

In [14]:
b = b'abc' # b는 아스키코드만 받음
type(b)

bytes

In [15]:
c = b'이찬주' # 라틴어 말고는 안됨

SyntaxError: bytes can only contain ASCII literal characters. (<ipython-input-15-73ae16681725>, line 1)

#### sequence - 순서에 의미가 있는 것들 (ex. 문자열) / indexing - [ ], 하나만 가져오기

In [42]:
d = '이찬주' # 큰따옴표("")를 사용해도 되긴하지만 일반적으로 (' ')만 사용

In [21]:
d[0]

'이'

In [22]:
d[1]

'찬'

In [23]:
d[2]

'주'

In [24]:
d[-1]

'주'

In [25]:
d[-2]

'찬'

In [26]:
d[-3]

'이'

In [27]:
d[-4]

IndexError: string index out of range

#### slicing - [ : ] , 여러개 가져오기, 특정 부분 가져오기

In [32]:
d[0:2] # 0번 인덱스 이상 - 2 번 인덱스 미만

'이찬'

In [29]:
d[0:-1]

'이찬'

In [34]:
d[:-1] # 처음부터

'이찬'

In [35]:
d[0:] # 끝까지

'이찬주'

In [30]:
e = '이찬주 파이팅!'

In [31]:
e[4:7]

'파이팅'

In [37]:
e[4:1000000] # 슬라이싱에서 마지막 인덱스는 초과해도 된다! 인덱스에서는 안됨!

'파이팅!'

In [40]:
e[::2] # 처음부터 2개마다 가져오기

'이주파팅'

In [41]:
e[::-1]

'!팅이파 주찬이'

In [44]:
f = b"abcdefg"

In [45]:
f[::3]

b'adg'

#### bytearray

In [46]:
x = bytearray();

In [47]:
type(x)

bytearray

#### 문자열 + 숫자 : 불가능 / 문자열 * 숫자(int, bool만) : 문자열 반복

In [48]:
a = '이찬주'

In [49]:
a + 3

TypeError: must be str, not int

In [51]:
a * 3

'이찬주이찬주이찬주'

#### 문자열 + 문자열

In [52]:
a = '이찬주'
b = '파이팅'
a + b

'이찬주파이팅'

In [53]:
a * b

TypeError: can't multiply sequence by non-int of type 'str'

#### 문자열 * bool : bool을 0, 1로 취급

In [54]:
a * False

''

In [55]:
a * True

'이찬주'

#### 빼기는 안됨

In [56]:
a - 3

TypeError: unsupported operand type(s) for -: 'str' and 'int'

#### 문자열 비교

In [57]:
'a' < 'A'

False

In [63]:
'a' < 'aA'

True

In [58]:
'a' != 'A'

True

In [59]:
'ㅁ' = 'ㅅ'

SyntaxError: can't assign to literal (<ipython-input-59-5b5a037be29d>, line 1)

In [60]:
'ab' == 'ba'

False

In [61]:
'a' < 'aa'

True

### Membership : 속해있는지 체크

In [66]:
'a' in 'abcdefg' # 속해있는지 체크

True

In [67]:
'h' not in 'abcdefg' # 안속해있는지 체크

True

#### 반복

In [71]:
for i in 'abcdfegh' :
    print(i)

a
b
c
d
f
e
g
h

In [73]:
a = 'abcde'
for i in a[::2] :
    print(i)

a
c
e

## input( )

In [83]:
a = input('a 값을 입력하세요 : ') # 문자열 데이터 입력받기

a 값을 입력하세요 : 3

In [84]:
type(a)

str

In [85]:
name = input('이름을 입력하세요 : ')

이름을 입력하세요 : 이찬주

In [89]:
print('당신의 성은 ', name[0], ' 입니다.')
print('당신의 이름은 ', name[1:], ' 입니다')

당신의 성은  이  입니다.
당신의 이름은  찬주  입니다

In [90]:
'이찬주' + True

TypeError: must be str, not bool

In [91]:
'이찬주' * 1j

TypeError: can't multiply sequence by non-int of type 'complex'